<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645572622912-oufsaubdl3t4pg4ceu3o7raqt6vhhna9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645572622912-oufsaubdl3t4pg4ceu3o7raqt6vhhna9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>645572622912-ndhnoi4s2jpnasc1a90km3848qc3bsga.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEdTsyCIjA7pPi8TZDMy5XmYPdnpjE0k0</string>
	<key>GCM_SENDER_ID</key>
	<string>645572622912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wooridoori.twogether</string>
	<key>PROJECT_ID</key>
	<string>twogether-206fb</string>
	<key>STORAGE_BUCKET</key>
	<string>twogether-206fb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645572622912:ios:c4c27652bffa9dd0cffda5</string>
</dict>
</plist>